body{
    margin: 0 auto;
    font-family: 'Balsamiq Sans';
    font-size: 14px;
}

*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

input{
    border: none;
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

/* Header */

.header {
    background-color: white;
}

.logo {
    font-size: ;
}