/* 
    Fonts for using
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p, li, ul, ol{
    margin: 0;
    padding: 0;
}

input{
    border: none;
}


.container{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}


/* Главный цвет текста */
:root {
    --color-main-text: #212121; 
}

/* Второстепенный цвет текста */
:root {
    --color-secondary-text: #757575; 
}

/* Цвет темы сайта */
:root {
    --color-theme: #2196F3; 
}

/* Цвет при наведении кнопки */
:root {
    --color-btn-hover: #188CE8; 
}



/* Header */

.header {
    background-color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.logo > span {
    color: var(--color-theme);
}

.list-header {
    list-style: none;
}

.link-header > a {
    color: var(--color-main-text);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.1s linear;
}


.link-header > a:hover {
    color: var(--color-theme);
}

/* Main */

    /* Intro */

.intro-inner {
    background-color: #2F303A;
}

.intro-title {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    width: 650px;
    text-align: center;
    color: white;
}

.intro-btn {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.8;
    color: white;
    background-color: var(--color-theme);
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    transition: background-color 0.1s linear;
}

.intro-btn:hover {
    background-color: var(--color-btn-hover);
}

/* Esplly */

.esplly-list {
    list-style: none;
}

.esplyy-list-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-main-text);
    width: 270px;
    margin-bottom: 10px;
}

.esplyy-list-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-secondary-text);
    width: 270px;
}

/* About */

.about-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-main-text);
    text-align: center;
    margin-bottom: 40px;
}

.about-list {
    list-style: none;
}

/* Team */

.team-inner {
    color: #F5F4FA;
}