/* 
    Fonts for using
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

input{
    border: none;
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

/* Header */

.header {
    background-color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #212121;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.logo > span {
    color: #2196F3;
}

.list-header {
    list-style: none;
}

.link-header > a {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.link-header > a:hover {
    color: #2196F3;
}

/* Main */
